.MainLogo{
    width: 350px;
    z-index: 1;
    position: relative;
    margin-bottom: 0px !important;
}

.HomeRibbon{
    padding-top: 0px !important;
}

.HomeRibbon:before{
    height: 200px !important;
}

.authRibbon{
    height: 3em;
    line-height: 3em;
    background-color: #2C4767;
}

.login{
    margin-right: 20px;
    color: white;
}

.login:hover{
    color: white;
    text-decoration: underline !important;
}