.VDivider{
    border-top: solid 2px #DCDCDC;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.SetFXLogo{
    width: 100%;
    margin-left: -100px;
    margin-top: -120px;
}

.HDivider{
    height: 140px;
    margin-left: 50px;
    display: inline-block;
    border-right: 1px solid #979AF0;
}

.SetTPLogo{
    width: 33%;
    padding: 10px;
}

.SFCLogo{
    width: 33%;
}

.BVCLogo{
    width: 33%;
}