.VDivider{
    border-top: solid 2px #DCDCDC;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.SetFXLogo{
    width: 100%;
    margin-top: 10%;
}

.SetTPLogo{
    width: 33%;
    padding: 10px;
}

.SFCLogo{
    width: 33%;
}

.BVCLogo{
    width: 33%;
}